<h1>Make it short</h1>
<p></p>
<p></p>
<p></p>
<p></p>

<form action="/urls" method="post">
	Enter URL:
	<input type ="text" name="long_url">
	<!-- <p>http://mis.com/<input type ="text" name="short_url"></p> -->
	<input type ="submit" value="Short"> 

</form>