<link rel="stylesheet" type="text/css" href="css/application.css">


<html>
	<head>
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="js/application.js"></script>

		<title>Make It Short</title>
	</head>
	<body>
		<%= yield %>
	</body>

	<footer>(c)copyright_of make_it_short 2016</footer>

</html>