<link rel="stylesheet" type="text/css" href="css/application.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<html>
	<head>
		<script type = "text/javascript" 
         src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		
      <script type = "text/javascript" 
         src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
		
		
		<script type="text/javascript" src="js/application.js"></script>

		<title>Make It Short</title>
	</head>
	<body>
		<%= yield %>
	</body>

	<footer>(c)copyright_of make_it_short 2016</footer>

</html>